In [1]:
# Do not make any changes in this cell
# Simply execute it and move on

import pandas as pd  
import numpy as np 
import matplotlib.pyplot as plt
import json
ans = [0]*8

In [2]:
# Simply execute this cell and move on

#Import the dataset and define the feature as well as the target datasets / columns  
dataset = pd.read_csv('heart.csv')  
#We drop the 'trestbps','chol','thalach','oldpeak' as they have numerical values  
dataset=dataset.drop('trestbps',axis=1) 
dataset=dataset.drop('chol',axis=1) 
dataset=dataset.drop('thalach',axis=1) 
dataset=dataset.drop('oldpeak',axis=1) 
dataset

     age  sex  cp  fbs  restecg  exang  slope  ca  thal  target
0     63    1   3    1        0      0      0   0     1       1
1     37    1   2    0        1      0      0   0     2       1
2     41    0   1    0        0      0      2   0     2       1
3     56    1   1    0        1      0      2   0     2       1
4     57    0   0    0        1      1      2   0     2       1
..   ...  ...  ..  ...      ...    ...    ...  ..   ...     ...
298   57    0   0    0        1      1      1   0     3       0
299   45    1   3    0        1      0      1   0     3       0
300   68    1   0    1        1      0      1   2     3       0
301   57    1   0    0        1      1      1   1     3       0
302   57    0   1    0        0      0      1   1     2       0

[303 rows x 10 columns]

In [3]:
#These are the meanings of above features in the dataset
'''
age
sex
chest pain type (4 values)
resting blood pressure
serum cholestoral in mg/dl
fasting blood sugar > 120 mg/dl
resting electrocardiographic results (values 0,1,2)
maximum heart rate achieved
exercise induced angina
oldpeak = ST depression induced by exercise relative to rest
the slope of the peak exercise ST segment
number of major vessels (0-3) colored by flourosopy
thal: 3 = normal; 6 = fixed defect; 7 = reversable defect
'''

'\nage\nsex\nchest pain type (4 values)\nresting blood pressure\nserum cholestoral in mg/dl\nfasting blood sugar > 120 mg/dl\nresting electrocardiographic results (values 0,1,2)\nmaximum heart rate achieved\nexercise induced angina\noldpeak = ST depression induced by exercise relative to rest\nthe slope of the peak exercise ST segment\nnumber of major vessels (0-3) colored by flourosopy\nthal: 3 = normal; 6 = fixed defect; 7 = reversable defect\n'

In [4]:
# Divide the age feature  into groups 
# Group the data based on age (<30 , range(30,40) , range(40,50) ,  range(50,60) , range(60,70) , >=70 )
#              = [ -1 ,     0        ,     1        ,         2     ,          3   ,   4   ]

# Write code here
age_groups = pd.cut(dataset['age'], bins=[0, 29, 39, 49, 59, 69, np.inf])
group_df = dataset.groupby(age_groups)

In [5]:
# QUESTION -1 :- (1mark)
#       Bayes theorm 
#       Find the following from the above data set 
#           - Find P("cp"=1,"thal"=2,"slope"=2 / Y=1) i.e.find the probability of ( "cp"=1 and "thal"=2 and "slope"=2 ) given that "target"=1
#       Assign your answer to ans[-1]

In [6]:
#Write code here

t1_df = dataset[dataset['target']==1]
num_df = t1_df[(t1_df['cp']==1) & (t1_df['thal']==2) & (t1_df['slope']==2)]

In [7]:
#Write your answer here
ans[0] = len(num_df.index)/len(t1_df.index)

In [8]:
# QUESTION -2 :- (1mark)
#       Find the prior distribution on the whole above data set , i.e. P(Y=1) and P(Y=0)
#       Enter value of P(Y=1) in ans[0]

In [9]:
# Write your code here
#P(Y)
#Prior distribution

t0_df = dataset[dataset['target']==0]
py_1 = len(t1_df.index)/len(dataset.index)
py_0 = len(t0_df.index)/len(dataset.index)

In [10]:
# Enter your answer here
ans[1]= py_1

In [11]:
# QUESTION -3:- (3marks)
#         Find the class conditional distribution on the above data set i.e. find P(X/Y)
#         Note: If class conditional probability = 0 assign 0.00000000000000001 (a low value) 
#         Find the class conditional probability of the feature "slope"= 0,1,2 when "target"=0 i.e. 
# P(X(slope)=i/Y=0) where i=0,1,2
#         Assign the answer to ans[1] in form of a list as [P(X(slope)=0/Y=0) , P(X(slope)=1/Y=0) ,
# P(X(slope)=2/Y=0)]

In [12]:
#Write your code below
#Class conditional distribution
#P(x/y)

slope0_df = t0_df[t0_df.slope==0]
slope1_df = t0_df[t0_df.slope==1]
slope2_df = t0_df[t0_df.slope==2]

ps0_y0 = max(len(slope0_df.index), 0.00000000000000001)/len(t0_df.index)
ps1_y0 = max(len(slope1_df.index), 0.00000000000000001)/len(t0_df.index)
ps2_y0 = max(len(slope2_df.index), 0.00000000000000001)/len(t0_df.index)

In [13]:
# Assign your answer here
ans[2] = [ps0_y0, ps1_y0, ps2_y0]

In [14]:
# QUESTION - 4:- (3marks)
#         Find the posterior distribution of the above dataset
#         i.e. Find P(Y/X) 
#         For X={"age":-1,'sex': 0,'cp':0 ,'fbs':1,'restecg':1,'exang':1,'slope':2,'ca':1,'thal':1}
#             - Find the label value (1 or 0) and also the respective confidence also the value of 
#               k in {  P(Y/X)=k*P(X1/Y)*P(X2/Y)*P(X3/Y)*P(X4/Y)......*P(Xn/Y)*P(Y) for n features   }
#         eg: if the answer is Y=0 with confidence =0.89 and k= 2100.8
#             your answer should be ans[2]=[0,0.89,2100.8]

In [15]:
#Write code here
# posterior distribution
#P(y/x)

X={'age':-1,'sex': 0,'cp':0 ,'fbs':1,'restecg':1,'exang':1,'slope':2,'ca':1,'thal':1}

#for y=0
p0 = 1
for key in X:
    temp = t0_df[t0_df[key]==X[key]]
    p = max((len(temp.index)/len(t0_df)), 0.00000000000000001)
    p0 = p0*p
    
#for y=1
p1 = 1
for key in X:
    temp = t1_df[t1_df[key]==X[key]]
    p = max((len(temp.index)/len(t1_df)), 0.00000000000000001)
    p1 = p1*p 

k = 1/(p1+p0)
if p1>p0:
    pred = 1
    conf = k*p1
else:
    pred = 0
    conf = k*p0

In [16]:
#Write your answers here
ans[3] = [pred, conf, k]

In [17]:
# Splitting the data for fitting a library naive bayes model from sklearn
# Use train_test_split to split the data

# Split the data into train and test (train-90% and test-10%)
# Strictly use (randon_state = 42) in train_test_split ,so that your answer can be evaluated

# Write your code here 
from sklearn.model_selection import train_test_split

X = dataset.iloc[:, 0:-1]
y = dataset.iloc[:, -1:]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

In [18]:
# QUESTION - 5 :- (2marks)
#         Import the  GaussianNB  model from sklearn and find the no of wrong predictions on the testing set
# i.e. train and fit the model on the training set and predict the output if the heart disease exists or not 
#         Compare the predicted and the testing labels and enter the no.of wrongly predicted lables in ans[3]

In [19]:
#Importing the Gaussian naive bayes classifier model from sklearn

from sklearn.naive_bayes import GaussianNB

#Write your code below

clf = GaussianNB()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
y_test = y_test['target'].tolist()

w = 0
for i in range(len(y_pred)):
    if y_pred[i] != y_test[i]:
        w = w+1

C:\Users\Rushali\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [20]:
#Write your answers here

ans[4] = w

In [21]:
import json
ans = [str(item) for item in ans]

filename = "rushali.c1710@gmail.com_Rushali_Chakraborty_NaiveBayes"

# Eg if your name is Saurav Joshi and email id is sauravjoshi123@gmail.com, filename becomes
# filename = sauravjoshi123@gmail.com_Saurav_Joshi_NaiveBayes

## Do not change anything below!!
- Make sure you have changed the above variable "filename" with the correct value. Do not change anything below!!

In [22]:
from importlib import import_module
import os
from pprint import pprint

findScore = import_module('findScore')
response = findScore.main(ans)
response['details'] = filename
with open(f'evaluation_{filename}.json', 'w') as outfile:
    json.dump(response, outfile)
pprint(response)

{'Comments': 'Please make sure the Python script you are submitting is not '
             'having errors. Try running before submitting',
 'Message': 'Successfully submitted! Thanks for taking the exercise',
 'details': 'rushali.c1710@gmail.com_Rushali_Chakraborty_NaiveBayes',
 'status': 'Success'}